{
  "parser": "babel-eslint",
  "extends": ["react-app", "prettier"],
  "env": {
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "react-hooks/exhaustive-deps": [
      "warn",
      { "additionalHooks": "(useIsomorphicLayoutEffect)" }
    ]
  }
}
