*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 14px;
}

body {
  padding: 1rem;
}

.container {
  height: 600px;
  overflow: auto;
}

.cursor-pointer {
  cursor: pointer;
}

.select-none {
  user-select: none;
}

.text-left {
  text-align: left;
}
