html {
  font-family: sans-serif;
  font-size: 14px;
}

.List, .Grid {
  border: 1px solid #ddd;
}

.ListItemEven,
.ListItemOdd, .GridItemEven,
.GridItemOdd { {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ListItemEven, .GridItemEven {
  background-color: #f8f0f8
}
