html {
  font-family: sans-serif;
  font-size: 14px;
}

.List {
  border: 1px solid #e6e4dc;
}

.ListItemEven,
.ListItemOdd {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ListItemEven {
  background-color: #e6e4dc;
}

.Grid {
  border: 1px solid #e6e4dc;
}

.GridItemEven,
.GridItemOdd {
  display: flex;
  align-items: center;
  justify-content: center;
}

.GridItemEven {
  background-color: #e6e4dc;
}
